@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono:
    ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
}

body {
  @apply bg-slate-900 text-slate-100;
}
